[defaults]
inventory = ./inventory/aws_ec2.yml
host_key_checking = False
pipelining = True
timeout = 30
deprecation_warnings = False

# Explicitly tell Ansible where roles live — relative to ansible.cfg location
roles_path = ./roles

[ssh_connection]
retries = 3
